@charset "windows-874";

body {
	/*background-color: #FFFFFF;*/
	background-image:url(images/background.jpg);
	background-repeat:repeat-y;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}

.style1 {
	font-size: 16px;
	font-weight: bold;
}

.style2 {
	font-size: 12px;
	font-weight: bold;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}